In [1]:
import pandas as pd

In [85]:
wiki_url = "https://en.wikipedia.org/wiki/List_of_mass_shootings_in_the_United_States"

In [122]:
#load the data from wikipedia
wiki_dfs = pd.read_html(wiki_url)

In [123]:
# remove the last item (wikipedia related items)
dont_care = wiki_dfs.pop()
del wiki_dfs[13]
del wiki_dfs[13]

In [124]:
#join (union) all of  the dfs ( tables from the wikipedia table ) to one df
#list comprehension used in the concat function rather than listing all dfs manually
all_shootings_df  = pd.concat([  df for df in wiki_dfs ])

In [125]:
#set index to date
all_shootings_df = all_shootings_df.set_index("Date")

In [126]:
all_shootings_df

,Location,Dead,Injured,Total,Description,Unnamed: 5
Date,,,,,,
"April 15, 2021","Indianapolis, Indiana",9[n 1],7,16,Indianapolis FedEx shooting: early reports sta...,NaN
"April 7, 2021","Rock Hill, South Carolina",7[n 1],0,7,"2021 Rock Hill shooting: 6 people, including 2...",NaN
"March 31, 2021","Orange, California",4,2[n 1],6,"2021 Orange, California office shooting: 4 peo...",NaN
"March 22, 2021","Boulder, Colorado",10,1[n 1],11,2021 Boulder shooting: A mass shooting occurre...,NaN
"March 16, 2021","Atlanta, Georgia",8,1,9,2021 Atlanta spa shootings: A series of mass s...,NaN
...,...,...,...,...,...,...
"September 9, 1924","Hanapepe, Hawaii",20,0,20,Hanapepe Massacre: During a strike of Filipino...,NaN
January 1923,"Levy County, Florida",8,27-150,35-158,Rosewood Massacre: The massacre was a racially...,NaN
"June 21–22, 1922","Herrin, Illinois",23,0,23,Herrin Massacre: During a United Mineworkers o...,NaN
"May 31 – June 1, 1921","Greenwood, Tulsa, Oklahoma",36 - 300 [191][192],800+,836+ (exact number disputed),Tulsa race massacre: When white mobs attacked ...,NaN
"November 2, 1920","Ocoee, Florida",34-37,unknown,34-37+,Ocoee massacre: White mob attack on African-Am...,NaN

In [127]:
all_shootings_df["Dead"].unique()

array(['9[n 1]', '7[n 1]', '4', '10', '8', '1', '6', '3[n 1]', '3', '0',
       '2', '6[n 1]', '4[n 1]', '5', '8[n 1]', '10[n 1]', '23', '13[n 1]',
       '11', '1[n 1]', '5[n 1][n 5]', '17', '5[n 1]', '2[n 1]',
       '27[n 1][n 5]', '61[n 1]', '6[n 5]', '50[n 1]', '16[n 1]', '9',
       '7[n 1][n 6]', '28[n 1]', '12', '7', '14[n 5]', '14[n 1]',
       '11[n 1]', '33[n 1]', '15[n 1]', '24[n 1]', '6[n 10]', '16',
       '43[n 1]', '22[n 1]', '13', '1[n 12]', '17[n 1][n 5]', 4, 0, 13, 9,
       5, '20', '36 - 300 [191][192]', '34-37'], dtype=object)

In [128]:
#notes:
# - n1 in dead includes shooter, put in another column
# -nX in dead includes non-shooting related ( stabbing )- on the fence
# Dates - dates spanning multiple days will be limited to the start date
# location will get split to city / state as new columns

In [129]:
wiki_dfs[13]

,Date,Location,Dead,Injured,Total,Description
0,"November 2, 1999","Honolulu, Hawaii",7,0,7,Xerox Murders (1999): A service technician ope...
1,"September 15, 1999","Fort Worth, Texas",8[n 1],7,15,Wedgwood Baptist Church shooting: During a con...
2,"August 10, 1999","Los Angeles, California",1,5,6,Los Angeles Jewish Community Center shooting: ...
3,"July 27–29, 1999","Stockbridge and Atlanta, Georgia",13[n 1],13,26,Day-trading firms shooting: The perpetrator sh...
4,"July 2–4, 1999","Chicago, Urbana, Springfield, and Decatur, Ill...",3[n 1],10,13,Benjamin Nathaniel Smith shooting spree: Part ...
5,"May 20, 1999","Conyers, Georgia",0,6,6,Heritage High School shooting: A 15-year-old s...
6,"April 20, 1999","Columbine, Colorado",15[n 1],24,39,Columbine High School massacre: Two students f...
7,"July 5, 1998","Tacoma, Washington",5,5,10,Trang Dai massacre: Four gunmen entered the Tr...
8,"May 21, 1998","Springfield, Oregon",4,25,29,Thurston High School shooting: An expelled stu...
9,"April 24, 1998","Edinboro, Pennsylvania",1,4,5,Parker Middle School dance shooting: A 14-year...
10,"March 24, 1998","Craighead County, Arkansas",5,10,15,Westside Middle School shooting: Two students ...
11,"March 6, 1998","Newington, Connecticut",5,0,5,Connecticut Lottery Headquarters shooting: A d...
12,"December 1, 1997","West Paducah, Kentucky",3,5,8,Heath High School shooting: A 14-year-old stud...
13,"October 1, 1997","Pearl, Mississippi",3,7,10,Pearl High School shooting: The perpetrator sh...
14,"February 19, 1997","Bethel, Alaska",2,2,4,Bethel Regional High School shooting: A studen...
15,"February 2, 1996","Moses Lake, Washington",3,1,4,Frontier Middle School shooting: A student sho...
16,"November 7, 1994","Wickliffe, Ohio",1,3,4,Wickliffe Middle School shooting: A 37-year-ol...
17,"June 20, 1994","Fairchild Air Force Base, Washington",5[n 1],22,27,Fairchild Air Force Base shooting: A former ai...
18,"December 14, 1993","Aurora, Colorado",4,1,5,"Aurora, Colorado, Chuck E. Cheese shooting: Th..."
19,"December 7, 1993","Garden City, New York",6,19,25,Long Island Rail Road shooting: A passenger op...
20,"July 1, 1993","San Francisco, California",9[n 1],6,15,101 California Street shooting: The perpetrato...
21,"January 25, 1993","Langley, Virginia",2,3,5,CIA Headquarters shooting: A Pakistani nationa...
22,"January 8, 1993","Palatine, Illinois",7,0,7,Brown's Chicken Massacre: Two robbers entered ...
23,"December 14, 1992","Great Barrington, Massachusetts",2,4,6,Bard College shooting: The perpetrator had bee...
24,"May 1, 1992","Olivehurst, California",4,10,14,Lindhurst High School Shooting and Hostage Sit...
25,"December 6, 1991","Austin, Texas",4,0,4,1991 Austin Yogurt Shop murders: Four teenage ...
26,"November 1, 1991","Iowa City, Iowa",6[n 1],1,7,University of Iowa shooting: A former graduate...
27,"October 16, 1991","Kileen, Texas",24[n 1],27,51,"Killeen, Texas, Luby's Restaurant shooting: A ..."
28,"April 4, 1991","Sacramento County, California",6[n 10],14[n 11],20,Sacramento Hostage Crisis: For eight hours for...
29,"August 9, 1990","Waddell, Arizona",9,0,9,Arizona Buddhist Temple shooting: Nine men wer...
30,"June 17–18, 1990","Jacksonville, Florida",9[n 1],4,13,GMAC Office shooting: A convicted felon return...
31,"February 10, 1990","Las Cruces, New Mexico",4,3,7,Las Cruces bowling alley massacre: Two unknown...

,Location,Dead,Injured,Total,Description,Unnamed: 5
Date,,,,,,
"April 15, 2021","Indianapolis, Indiana",9[n 1],7,16,Indianapolis FedEx shooting: early reports sta...,NaN
"April 7, 2021","Rock Hill, South Carolina",7[n 1],0,7,"2021 Rock Hill shooting: 6 people, including 2...",NaN
"March 31, 2021","Orange, California",4,2[n 1],6,"2021 Orange, California office shooting: 4 peo...",NaN
"March 22, 2021","Boulder, Colorado",10,1[n 1],11,2021 Boulder shooting: A mass shooting occurre...,NaN
"March 16, 2021","Atlanta, Georgia",8,1,9,2021 Atlanta spa shootings: A series of mass s...,NaN
...,...,...,...,...,...,...
"September 9, 1924","Hanapepe, Hawaii",20,0,20,Hanapepe Massacre: During a strike of Filipino...,NaN
January 1923,"Levy County, Florida",8,27-150,35-158,Rosewood Massacre: The massacre was a racially...,NaN
"June 21–22, 1922","Herrin, Illinois",23,0,23,Herrin Massacre: During a United Mineworkers o...,NaN
"May 31 – June 1, 1921","Greenwood, Tulsa, Oklahoma",36 - 300 [191][192],800+,836+ (exact number disputed),Tulsa race massacre: When white mobs attacked ...,NaN
"November 2, 1920","Ocoee, Florida",34-37,unknown,34-37+,Ocoee massacre: White mob attack on African-Am...,NaN