In [144]:
import pandas as pd

In [145]:
wiki_url = "https://en.wikipedia.org/wiki/List_of_mass_shootings_in_the_United_States"

In [146]:
#load the data from wikipedia
wiki_dfs = pd.read_html(wiki_url)

In [147]:
# remove the last item (wikipedia related items)
dont_care = wiki_dfs.pop()

In [148]:
#remove wiki's summary cells 
del wiki_dfs[13]
del wiki_dfs[13] #cell 14 becomes 13 after the last command, so it looks dumb

In [149]:
#fix the one table where they didn't label description
wiki_dfs[11]["Description"] = wiki_dfs[11]["Unnamed: 5"]
wiki_dfs[11].drop(columns=['Unnamed: 5'], inplace=True)

In [150]:
#join (union) all of  the dfs ( tables from the wikipedia table ) to one df
#list comprehension used in the concat function rather than listing all dfs manually
all_shootings_df  = pd.concat([  df for df in wiki_dfs ])

In [151]:
#set index to date
all_shootings_df = all_shootings_df.set_index("Date")

In [152]:
all_shootings_df

,Location,Dead,Injured,Total,Description
Date,,,,,
"April 15, 2021","Indianapolis, Indiana",9[n 1],7,16,Indianapolis FedEx shooting: early reports sta...
"April 7, 2021","Rock Hill, South Carolina",7[n 1],0,7,"2021 Rock Hill shooting: 6 people, including 2..."
"March 31, 2021","Orange, California",4,2[n 1],6,"2021 Orange, California office shooting: 4 peo..."
"March 22, 2021","Boulder, Colorado",10,1[n 1],11,2021 Boulder shooting: A mass shooting occurre...
"March 16, 2021","Atlanta, Georgia",8,1,9,2021 Atlanta spa shootings: A series of mass s...
...,...,...,...,...,...
"September 9, 1924","Hanapepe, Hawaii",20,0,20,Hanapepe Massacre: During a strike of Filipino...
January 1923,"Levy County, Florida",8,27-150,35-158,Rosewood Massacre: The massacre was a racially...
"June 21–22, 1922","Herrin, Illinois",23,0,23,Herrin Massacre: During a United Mineworkers o...
"May 31 – June 1, 1921","Greenwood, Tulsa, Oklahoma",36 - 300 [191][192],800+,836+ (exact number disputed),Tulsa race massacre: When white mobs attacked ...
"November 2, 1920","Ocoee, Florida",34-37,unknown,34-37+,Ocoee massacre: White mob attack on African-Am...

In [153]:
all_shootings_df["Dead"].unique()

array(['9[n 1]', '7[n 1]', '4', '10', '8', '1', '6', '3[n 1]', '3', '0',
       '2', '6[n 1]', '4[n 1]', '5', '8[n 1]', '10[n 1]', '23', '13[n 1]',
       '11', '1[n 1]', '5[n 1][n 5]', '17', '5[n 1]', '2[n 1]',
       '27[n 1][n 5]', '61[n 1]', '6[n 5]', '50[n 1]', '16[n 1]', '9',
       '7[n 1][n 6]', '28[n 1]', '12', '7', '14[n 5]', '14[n 1]',
       '11[n 1]', '33[n 1]', '15[n 1]', '24[n 1]', '6[n 10]', '16',
       '43[n 1]', '22[n 1]', '13', '1[n 12]', '17[n 1][n 5]', 4, 0, 13, 9,
       5, '20', '36 - 300 [191][192]', '34-37'], dtype=object)

In [128]:
#notes:
# - n1 in dead includes shooter, put in another column
# -nX in dead includes non-shooting related ( stabbing )- on the fence
# Dates - dates spanning multiple days will be limited to the start date
# location will get split to city / state as new columns

0    Hartford Beer Distributors shooting: An employ...
1    Delisle triple murder: A building contractor s...
2    University of Alabama in Huntsville shooting: ...
3    Appomattox shootings: A man shot and killed fo...
4    ABB plant shooting: An employee opened fire in...
Name: Unnamed: 5, dtype: object

,Location,Dead,Injured,Total,Description,Unnamed: 5
Date,,,,,,
"April 15, 2021","Indianapolis, Indiana",9[n 1],7,16,Indianapolis FedEx shooting: early reports sta...,NaN
"April 7, 2021","Rock Hill, South Carolina",7[n 1],0,7,"2021 Rock Hill shooting: 6 people, including 2...",NaN
"March 31, 2021","Orange, California",4,2[n 1],6,"2021 Orange, California office shooting: 4 peo...",NaN
"March 22, 2021","Boulder, Colorado",10,1[n 1],11,2021 Boulder shooting: A mass shooting occurre...,NaN
"March 16, 2021","Atlanta, Georgia",8,1,9,2021 Atlanta spa shootings: A series of mass s...,NaN
...,...,...,...,...,...,...
"September 9, 1924","Hanapepe, Hawaii",20,0,20,Hanapepe Massacre: During a strike of Filipino...,NaN
January 1923,"Levy County, Florida",8,27-150,35-158,Rosewood Massacre: The massacre was a racially...,NaN
"June 21–22, 1922","Herrin, Illinois",23,0,23,Herrin Massacre: During a United Mineworkers o...,NaN
"May 31 – June 1, 1921","Greenwood, Tulsa, Oklahoma",36 - 300 [191][192],800+,836+ (exact number disputed),Tulsa race massacre: When white mobs attacked ...,NaN
"November 2, 1920","Ocoee, Florida",34-37,unknown,34-37+,Ocoee massacre: White mob attack on African-Am...,NaN